[submodule "Hunyuan3D-2"]
	path = hy2/Hunyuan3D-2
	url = https://github.com/Tencent-Hunyuan/Hunyuan3D-2.git
[submodule "hy2/Hunyuan3D-2"]
	path = hy2/Hunyuan3D-2
	url = https://github.com/Tencent/Hunyuan3D-2.git
